

.main-container{
    background-color: var(--color-bg);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.header {
    height: 8%;
    width: 100%;
    background-color: #171D27;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-interface {
    height: 84%;
    width: 100%;
    background-color: transparent;
} 

.footer {
    height: 8%;
    width: 100%;
    background-color: #171D27;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.footer div span {
    font-size: 1rem;
}

.footer div:hover {
    color: white;
}


/* Home Section Interface */


.main-interface .home-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.home-section .stack-container:nth-child(1) {
    height: 15%;
    width: 100%;
}

.home-section .message {
    height: 100%;
    width: 100%;
}

.home-section .stack-container:nth-child(2) {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    /* background-color: yellow; */
}

.long-box {
    height: 15%;
    width: 100%;
    background-color: #1C222F;
    border: 1px solid #343131;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.long-box div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: white
}

.long-box:nth-child(1) div:nth-child(1) {
    font-size: 2.5rem;
    color: green;
}

.long-box:nth-child(2) div:nth-child(1) {
    font-size: 2rem;
    color: blue !important;
}

.stack-child-container {
    height: 35%;
    width: 100%;
    display: flex;
    gap: 2rem;
}

.stack-child-container .box {
    height: 100%;
    width: 100%;
    background-color: #1C222F;
    border: 1px solid #343131;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.box .top-container {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    border-bottom: 1px solid #4E3D3D;
    padding-left: .5rem;
    padding-right: .5rem;
}

.box .top-container svg:nth-child(1) {
    color: red;
}

.box .bottom-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    padding: .5rem;
    overflow: hidden;
}

.box .bottom-container div {
    height: 30%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-weight: 200;
}





















